wheel
asteval
cached-property
certifi
click
cloudpickle
colorama==0.4.6
contourpy==1.0.5
cssselect2
cycler
Cython
cytoolz
dask
fabio
filetype
fonttools
fsspec
future
h5py
hdf5plugin
imagecodecs
imageio
importlib-metadata
importlib-resources
kiwisolver
llvmlite
lmfit
matplotlib
mkl-fft
mkl-random
mkl-service
munkres
networkx
numba
numexpr
numpy
opencv-python
packaging
partd
pickleshare
Pillow
pip
ply
pyads
pyfai
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyqtgraph
PyQtWebEngine
python-dateutil
python-dotenv
PyWavelets
PyYAML
qt5-applications
qt5-tools
reportlab
scikit-image
scipy
setuptools
silx
sip
six
svglib
tifffile
tinycss2
tomli==2.0.1
toolz
tornado
uncertainties
webencodings
zipp
